@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 86% 28%;
    --ghost: theme("colors.light3");
    --no-color: #000000;
    --text-disabled: #919eab;
    --loader-sppiner: #000000;
    --primary-1: #00a76f;
    --primary-2: #004b50;
    --primary-3: #007867;
    --primary-4: #c8fad6;
    --primary-5: #5be49b;
    --primary-6: #122527;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 86% 28%;
    --primary-1: #00a76f;
    --primary-2: #004b50;
    --primary-3: #007867;
    --primary-4: #c8fad6;
    --primary-5: #5be49b;
    --primary-6: #122527;
    --ghost: theme("colors.dark3");
    --no-color: #ffffff;
    --text-disabled: #919eab;
    --loader-sppiner: #ffffff;
  }
}

@layer base {
  h1 {
    @apply text-[45px] font-extrabold;
  }
  h2 {
    @apply text-[40px] font-bold;
  }
  h3 {
    @apply text-[35px] font-bold;
  }
  h4 {
    @apply text-[30px] font-bold;
  }
  h5 {
    @apply text-[25px] font-bold;
  }
  h6 {
    @apply text-[20px] font-bold;
  }
  p {
    @apply text-[14px] font-light;
  }
  span {
    @apply text-[15px] font-semibold;
  }
}

@layer components {
  .max-width {
    @apply max-w-[1400px] mx-auto px-4;
  }
  .page-padding {
    @apply pt-[90px] xl:pt-[80px] pb-[50px];
  }
  .share-btn {
    @apply p-2 gap-2 inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none disabled:pointer-events-none disabled:opacity-30 line-clamp-1 rounded-full hover:bg-slate-100 hover:dark:bg-slate-800 hover:text-icon-hover-light dark:hover:text-icon-hover-dark dark:text-icon-dark text-icon-light text-[23px];
  }
}

@layer utilities {
  .shadow-main {
    box-shadow: 0px 5px 15px 0px #7d879c18, 0px 1px 2px 0px #7d879c18;
  }
}

.border-color-main {
  @apply border-border-light dark:border-border-dark;
}
/* Hide scroll bar: START */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}
.hideScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scroll bar: END */

/* Animation: START */
.Transition {
  @apply transition duration-150 ease-in-out;
}
.card_hover {
  @apply hover:bg-light3 dark:hover:bg-dark3 Transition;
}
/* Animation: END */

/* UI: START */
.pages_spaces {
  @apply text-dark1 dark:text-light1 pt-[90px] pl-[350px] max-md:px-4 md:pr-12 max-lg:pb-[50px] lg:mb-[200px] min-h-screen transition-all duration-150 max-w-[1600px] mx-auto;
}
.pages_spaces2 {
  @apply text-dark1 dark:text-light1 w-full pt-[90px] pl-12 max-md:px-4 md:pr-12 max-lg:pb-[50px] lg:mb-[200px] min-h-screen transition-all duration-150 max-w-[1200px] mx-auto;
}
.icon {
  @apply text-icon-size text-icon-light dark:text-icon-dark;
}
.btn_icon {
  @apply p-[8px] rounded-full hover:bg-light3 hover:dark:bg-slate-800 hover:text-icon-hover-light dark:hover:text-icon-hover-dark dark:text-icon-dark text-icon-light text-[25px];
}
.logo-color {
  @apply text-primary-1 dark:text-primary-4;
}
.chart-cartesian-grid {
  @apply stroke-slate-100 dark:stroke-dark3;
}
.tableContainer {
  @apply rounded-card shadow-main dark:shadow-dark bg-white dark:bg-dark2 overflow-hidden;
}
.border-color {
  @apply border-slate-100 dark:border-dark2;
}
.back-link {
  @apply flex items-center gap-2 text-[0.875rem] font-[700] p-2 rounded-lg hover:bg-light2 dark:hover:bg-dark3 Transition w-fit;
}
/* UI: END */

/* Badges: START */
.badge-green {
  @apply bg-green-100 text-green-700 dark:bg-green-800/30 dark:text-green-300;
}
.badge-blue {
  @apply bg-blue-100 text-blue-700 dark:bg-blue-800/30 dark:text-blue-300;
}
.badge-orange {
  @apply bg-orange-100 text-orange-700 dark:bg-orange-800/30 dark:text-orange-300;
}
.badge-slate {
  @apply bg-slate-100 text-slate-700 dark:bg-slate-800/30 dark:text-slate-300;
}
.badge-gray {
  @apply bg-gray-200 text-gray-700 dark:bg-gray-600/30 dark:text-gray-300;
}
.badge-rose {
  @apply bg-rose-100 text-rose-700 dark:bg-rose-800/30 dark:text-rose-300;
}
/* Badges: END */

/* Text: START */
.subheading {
  @apply text-small text-dark3 dark:text-light3;
}
.table-sub-text {
  @apply font-light text-xs text-slate-500;
}
.text-disabled {
  @apply text-slate-500 text-[12px];
}
.username {
  @apply text-[14px] font-medium dark:text-white;
}
.card-title {
  @apply text-[14px] font-medium;
}
.card-description {
  @apply text-[14px] text-slate-500;
}
.price {
  @apply font-[500];
}
.price-discount {
  @apply font-[500] text-[var(--text-disabled)] line-through;
}
/* Text: END */

/* Tabs: START */
.tabTrigger {
  @apply bg-transparent dark:bg-transparent flex items-center gap-2 py-3 px-0 border-b-2 border-transparent data-[state=active]:border-black dark:data-[state=active]:border-white data-[state=active]:dark:bg-transparent data-[state=active]:text-black dark:data-[state=active]:text-white rounded-none;
}
.tabList {
  @apply bg-transparent dark:bg-transparent flex items-center gap-8 w-fit rounded-none;
}
/* Tabs: END */

/* Grids: START */
.list-grid-1 {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5;
}
/* Grids: END */

/* Tiptap */
/* Placeholder */
.tiptap p.is-empty:first-child::before {
  color: rgb(137, 137, 137);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-size: 13px;
}

.tiptap p {
  font-size: 14px;
  margin-block: 2px;
}

/* Headings */
.tiptap h1 {
  font-size: 68px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 8px;
}
.tiptap h2 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 8px;
}
.tiptap h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 8px;
}
.tiptap h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 8px;
}
.tiptap h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 8px;
}
.tiptap h6 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 8px;
}

/* Lists */
.tiptap ul {
  list-style-type: disc;
  margin: 0 16px;
}
.tiptap ol {
  list-style-type: decimal;
  margin: 0 16px;
}

/* Links */
.tiptap a {
  text-decoration: underline;
  color: var(--primary-1);
  cursor: pointer;
}
